/* General Styles */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
  overflow-x: hidden;
	background-color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
}

a {
	text-decoration: none;
	color: black;
}

ul, li {
	list-style-type: none;
}
input:focus {
	outline: none;
}

.button {
	background: rgba(255, 69, 0, 0.84);
	/* box-shadow: 2px 3px 10px rgba(27, 21, 21, 0.8) ; */
	border-radius: 50px;
	color: #fff;
	font-size: 22px;
	line-height: 26px;
	padding: 5px 25px;
	border: none;
	transition: all .3s linear;
}

.button:hover {
	cursor: pointer;
	color: #000;
}

/* END General Styles */

/* Header Styles */

.header {
	margin: 20px 20px 0;
	
}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}


.header__menu__list {
	display: flex;

}
.header__menu__list__item {
	margin-right: 30px;
}

.header__menu__list__item:last-child {
	margin-right: 0;
}

.header__menu__list__item__link {
	font-size: 25px;
	line-height: 30px;
	position: relative;
}


.header__menu__list__item__link::after {
	content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #000;
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.header__menu__list__item:hover .header__menu__list__item__link::after {
	transform-origin: left;
  transform: scaleX(1);
}

.header__logo a{
	color: #FF4500;
	font-size: 45px;
	line-height: 50px;
}

.header__search {
	display: flex;
	align-items: center;
}

.header__search__form {
	margin-right: 10px;
}

.header__search__form input {
	border-radius: 20px;
	border: 1px solid #C4C4C4;
	background-color: #fff;
	padding: 5px 106px;
	text-align: center;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.1em;
}

.header__search__form input[name="search"]:focus {
	outline: 1px solid #C4C4C4;
}

.header__search__form input[name="search"]:focus::placeholder {
	color: rgba(196, 196, 196, 0.288);
}

.header__search__form input[value="SEARCH"] {
	position: relative;
	top: 0;
	left: -50px;
	padding: 5px 30px;
	color: #fff;
	background-color: #FF4500;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0;
	transition: .3s all linear;
}

.header__search__form input[value="SEARCH"]:hover {
	cursor: pointer;
	color: #000;
}

.header__main {
	display: flex;
	justify-content: center;
	max-width: 1200px;
	margin: 0 auto;
}

.header__main__item.text {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 120px;
}

.header__main__item.img {
	width: 70%;
}

.header__main__item img {
	display: block;
	width: 800px;
	height: 600px;
}

.header__main__title {
	color: #FF4500;
	font-size: 40px;
	line-height: 46px;
	margin-bottom: 20px;
}

.header__main__text {
	margin-bottom: 30px;
}

/* END Header Styles */

/* Offer Styles */
.offer {
	min-height: 100vh;
	background: url("../img/offer__bg.jpg") no-repeat center center;
	background-size: cover;
	padding-left: 90px;
	padding-top: 157px;
	margin-bottom: 75px;
}
.offer__text {
	font-size: 50px;
	line-height: 59px;
	color: #fff;
	margin-bottom: 15px;
}
.offer__title {
	color: #fff;
	font-size: 144px;
	line-height: 169px;
}

.offer__button {
	margin-top: 140px;
	font-size: 50px;
	line-height: 59px;
	padding: 22px 62px 16px;
}

/* END Offer Styles */

/* Category Styles */

.category {
	text-align: center;
	margin-bottom: 90px;
}
.category__title {
	font-size: 48px;
	font-weight: 400;
	line-height: 56px;
	letter-spacing: 0.15em;
	margin-bottom: 65px;
}
.category__main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1445px;
	margin: 0 auto;
}
.category__main__item {
	width: 352px;
	min-height: 189px;
	display: flex;
	align-items: center;
	background: rgba(188, 179, 179, 0.61);
	box-shadow: 0px 4px 13px 2px #655959;
	border-radius: 30px;
	margin-right: 90px;
	padding: 35px 5px;
	margin-bottom: 120px;
}

.category__main__item:nth-child(3n) {
	margin-right: 0;
}

.category__main__item svg {
	margin-right: 15px;
}

.category__main__item__title {
	border: 5px rgba(255, 69, 0, 0.84) solid;
	border-left: none;
	border-right: none;
	padding: 7px 0;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.1em;
}

.category__main__item:nth-child(3) .category__main__item__title {
	letter-spacing: 0.02em;
}

/* END Category Styles */


/* Cards Styles */

.cards {
	margin-bottom: 125px;
}
.cards__title {
	font-size: 48px;
	font-weight: 400;
	line-height: 56px;
	text-align: center;
	letter-spacing: 0.15em;
	margin-bottom: 100px;
}
.cards__items {
	max-width: 1750px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.card__items__item {
	width: 364px;
	height: 399px;
	box-shadow: 2px 4px 12px #000000;
	margin-bottom: 100px;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	justify-content: space-around;
}


.card__items__item__img {
	display: block;
	max-height: 319px;
	align-self: center;
}
.card__items__item__title, .card__items__item__price {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	margin-left: 15px;
}


.card__items__item__button {
	color: #fff;
	background: rgba(255, 69, 0, 0.84);
	border-radius: 25px;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	padding: 2px 13px;
	border: none;
	align-self: start;
	margin-left: 15px;
}

.card__items__item__button:hover {
	cursor: pointer;
}

/* END Cards Styles */
/* Reviews Styles */

.reviews {
	max-width: 1520px;
	margin: 0 auto;
	margin-bottom: 150px;
}
.reviews__title {
	font-size: 48px;
	font-weight: 400;
	line-height: 56px;
	text-align: center;
	letter-spacing: 0.15em;
	margin-bottom: 150px;
}
.reviews__items {
	display: flex;
	justify-content: center;
}
.reviews__items__item {
	max-width: 635px;
	margin-right: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.reviews__items__item:last-child {
	margin-right: 0;
}
.reviews__items__item__profile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}
.reviews__items__item__profile__img {
	border-radius: 50px;
	margin-right: 30px;
}
.reviews__items__item__profile__rating {
	display: flex;
	flex-direction: column;
}

.reviews__items__item__profile__rating p {
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.15em;
	margin-bottom: 10px;
}

.reviews__items__item__profile__rating__stars {
	display: flex;
	align-items: center;
}

.reviews__items__item__profile__rating__stars span {
	margin-left: 10px;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.15em;
}

.reviews__items__item__main-review {
	margin-bottom: 40px;
}

.reviews__items__item__main-review p {
	text-align: center;
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
}
.reviews__items__item__article {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.reviews__items__item__article__img {
	margin-right: 40px;
}

.reviews__items__item__article p {
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.15em;
}

/* END Reviews Styles */